@import "./tailwind/tailwind.css";
@import "./bootstrap/bootstrap.css";

@font-face {
    font-family: 'Roboto normal';
    font-style: normal;
    src: url("../font/roboto_Latin.woff2") format('woff2');
}

@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    src: url("../font/Bebas_Neue.woff2");
}

*{
    image-rendering: auto !important;
}

/* =================================================================================================================================================================*/

.dropdown:hover .dropdown-menu {
    display: block;
}

.AutomobileTitre {
    font-size: 4vw !important;
    text-shadow: 0.2vw 0.2vh #000000;
}

.Automobile-Container {
    max-width: 60%;
    top: 10%;
}

/*==================================================================================================================================================================================*/

.navbar-toggler{
    border-color: rgba(255, 255, 255, 0.85) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* =================================================================================================================================================================================*/

.carousel-inner-realisation > .carousel-item-realisation{
    height: 30vh !important;
}
 
.realisation-container{
    top: 10%;
    bottom: 90%;
    right: 20%;
}

.RealisationTitre{
    font-size: 9vw !important;
    text-shadow: 0.3vw 0.3vh #000000;
}

/* =================================================================================================================================================================================*/

.card-img-realisation{
    height: 27vh !important;
    max-height: 30vh !important
}

/* =================================================================================================================================================================================*/

#description{
    font-size: 2.5vh !important;
    line-height : 4.5vh !important;
}

/* =================================================================================================================================================================================*/
.ciel-etoile-text{
    font-size: 2vh !important;
}

.ciel-etoile-container,.ciel-etoile-container-second{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;
}

.ciel-etoile-container-second{
    background-image: url('../image/ciel étoilé/358100500841382651.jpg');
    background-size: cover;
}

.title-ciel-etoile{
    font-size: 4vw !important;
    text-shadow: 0.1vw 0.1vh #000000;
    padding-top: 3vh !important;
}

.ciel-etoile-img{
    height: 30vh !important;
    width: auto !important;
}

.container-etoile-first{
    padding-left : 15vw !important;
}

.video-ciel-etoile{
    height: 60vh !important;
    border-color: white !important;
    border-width: 3px !important;
}

/* =============================================================================================================================================================================================*/

.container-covering{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;   
}

.covering-text{
    font-size: 3vh !important;
}

.video-covering{
    height: 60vh !important;
}

/* =============================================================================================================================================================================================*/

.batiment-text{
    font-size: 3vh !important;
}

.container-batiment{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;   
}

/* ==============================================================================================================================================================================================*/

.vitre-teinte-main{
    background-image: url('../image/vitre teinté/04NpIkbEsTWG2.jpg');
    background-size: cover !important;
}

.vitre-teinte-text{
    font-size: 3vh !important;
}

.vitre-teinte-container{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;
}

/* ================================================================================================================================================================================================*/

.container-ppf{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;
}

/* =============================================================================================================================================================================================*/

.carousel-realisation-inner{
    height: auto !important;
}

.carousel-realisation-item{
    height: auto !important;
}

.realisation-titre{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 80% !important;
    font-size: 5vw !important;
}

/* =============================================================================================================================================================================================*/

.acceuil-img{
    transform: translate(0%,-50%);
    scale: 48%;
}

/* =============================================================================================================================================================================================*/

.AutomobileMain{
    background-image: url("../image/acceuil/7964307101895079773.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% !important;
}

.Automobile-video{
    width: auto !important;
    height: 65vh !important;
    margin: auto !important;
}

/* =============================================================================================================================================================================================*/

.slick-dots{
    padding-top: 3vh !important;
    display: flex !important;
    justify-content: center !important;

}

.slick-dots button {
    width: 30px;
    height: 30px;
    font-size: 0px;
    border: 0px;
    padding: 0;
    margin: 0 0.3vw;
    position: relative;
    background: transparent
}

.slick-dots button:after {
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.2);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.slick-dots button:focus {
    outline: 1px dotted rgba(89,91,97,0.2)
}

.slick-dots .slick-active button:after {
    background: black;
}

/* =============================================================================================================================================================================================*/

.rating-star{
    color: #ffd200 !important; 
    font-size : 25px !important;
}

.rating-profile-photo{
    width: auto !important;
    height: 5vh !important;
    display: inline !important;
    padding-right: 1vw !important;
}

.rating-star-agence{
    color: #ffd200 !important; 
    font-size : 40px !important;
}

.google-logo-avis{
    position: absolute;
    bottom: -45px !important;
    left: -140px !important;
}

/* ============================================================================================================================================================================================= */


.marquage-img{
    height: 60vh !important;
    width: auto !important;
}

.marquage-container,.marquage-container-second{
    padding-left: 5vw !important;
    padding-top: 4vh !important;
    padding-bottom: 7vh !important;
}

.marquage-video{
    height: 60vh !important;
}

/* ============================================================================================================================================================================================= */

@media screen and (max-width: 1000px){
    .image-bat-acueil{
        height : 20vh !important;width: auto !important;
    }

    .img-acceuil-bat-deco{
        height : auto !important;
        width: 100vw !important
    }

    .batiment-text{
        font-size: 2vh !important;
    }

    .img-acceuil-bat-secu{
        height : auto !important;
        width: 65vw !important
    }

    .image-mq-acceuil{
        height : 35vh !important;
        width:auto !important
    }
}

@media screen and (min-width : 1001px) {
    .image-bat-acueil{
        height : 40vh !important;width: auto !important;
    }

    .img-acceuil-bat-deco{
        height : auto !important;
        width: 30vw !important
    }

    .batiment-text{
        font-size: 3vh !important;
    }

    .img-acceuil-bat-secu{
        height : auto !important;
        width: 30vw !important
    }

    .image-mq-acceuil{
        height : 45vh !important;
        width:auto !important
    }
}

@media screen and (max-width: 600px){
    .ppf-img{
        padding-left: 3vw !important;
        padding-right: 3vw !important;
    }
}

@media screen and (min-width : 601px)  and (max-width : 900px){
    .ppf-img{
        padding-left: 16vw !important;
        padding-right: 16vw !important;
    }
}

@media screen and (min-width : 901px) and (max-width : 1000px){
    .ppf-img{
        padding-left: 18vw !important;
        padding-right: 18vw !important;
    }
}

@media screen and (min-width : 1001px) and (max-width : 1200px){
    .ppf-img{
        padding-left: 22vw !important;
        padding-right: 22vw !important;
    }
}

.bat-last-list{
    display: table;
    height: 33%;
    vertical-align:middle;
}

